<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<div class="card">
    <div class="card-body">
        <div class="col-md-10">
            <p th:if="${loginError}" class="error">Wrong user or password</p>
            <form th:action="@{/login}" method="post">
                <div class="form-group col-md-8">
                    <label for="username">Username</label>:
                    <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
                </div>

                <div class="form-group col-md-8">
                    <label for="password">Password</label>:
                    <input type="password" id="password" name="password" />
                </div>

                <div class="col-md-6">
                    <input type="submit" class="btn btn-dark" value="Log in" />
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>